@font-face {
    font-family: 'Norwester';
    src: url('../Font/norwester-webfont.woff2') format('woff2'), url('../Font/norwester-webfont.woff') format('woff'), url('../Font/norwester-webfont.svg#norwester') format('svg');
    font-weight: normal;
    font-style: normal;
  }